<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BanCa-Gun-1-oPEN_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-142}</string>
                <key>spriteSize</key>
                <string>{272,267}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{277,1087},{272,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-139}</string>
                <key>spriteSize</key>
                <string>{270,275}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1,814},{270,275}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BanCa-Gun-1-oPEN_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-136}</string>
                <key>spriteSize</key>
                <string>{272,283}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BanCa-Gun-1-oPEN_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-140}</string>
                <key>spriteSize</key>
                <string>{272,271}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{561,565},{272,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-143}</string>
                <key>spriteSize</key>
                <string>{278,263}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1,549},{278,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-140}</string>
                <key>spriteSize</key>
                <string>{272,271}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1,1359},{272,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-136}</string>
                <key>spriteSize</key>
                <string>{272,283}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{286,1},{272,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BanCa-Gun-1-oPEN_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-140}</string>
                <key>spriteSize</key>
                <string>{272,271}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{275,1359},{272,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-143}</string>
                <key>spriteSize</key>
                <string>{278,263}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{281,549},{278,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-140}</string>
                <key>spriteSize</key>
                <string>{272,271}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{549,1356},{272,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BanCa-Gun-1-oPEN_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-136}</string>
                <key>spriteSize</key>
                <string>{272,283}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1,275},{272,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BanCa-Gun-1-oPEN_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-140}</string>
                <key>spriteSize</key>
                <string>{272,271}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{554,838},{272,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-143}</string>
                <key>spriteSize</key>
                <string>{280,263}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{571,1},{280,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BanCa-Gun-1-oPEN_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-140}</string>
                <key>spriteSize</key>
                <string>{274,271}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{278,814},{274,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-136}</string>
                <key>spriteSize</key>
                <string>{272,283}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{286,275},{272,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BanCa-Gun-1-oPEN_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-140}</string>
                <key>spriteSize</key>
                <string>{274,271}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1,1086},{274,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-143}</string>
                <key>spriteSize</key>
                <string>{280,263}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{571,283},{280,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anima.png</string>
            <key>size</key>
            <string>{835,1631}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f655f9c2486ed2c5717e67720945b2b:820b4170b0ca900210905727f1677df3:41fd4b1a288c6f212a6fd267d13a9ba6$</string>
            <key>textureFileName</key>
            <string>anima.png</string>
        </dict>
    </dict>
</plist>
