<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BanCa-Gun-1-oPEN_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-157}</string>
                <key>spriteSize</key>
                <string>{284,229}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{196,1753},{284,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BanCa-Gun-1-oPEN_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-171}</string>
                <key>spriteSize</key>
                <string>{292,193}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1,1753},{292,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BanCa-Gun-1-oPEN_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,59}</string>
                <key>spriteSize</key>
                <string>{312,461}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1,1},{312,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,58}</string>
                <key>spriteSize</key>
                <string>{314,447}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1,464},{314,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,57}</string>
                <key>spriteSize</key>
                <string>{350,435}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{315,1},{350,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,56}</string>
                <key>spriteSize</key>
                <string>{360,423}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1,913},{360,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,54}</string>
                <key>spriteSize</key>
                <string>{362,409}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{427,1685},{362,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BanCa-Gun-1-oPEN_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,52}</string>
                <key>spriteSize</key>
                <string>{372,395}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1521,820},{372,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,52}</string>
                <key>spriteSize</key>
                <string>{376,385}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1548,1217},{376,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,31}</string>
                <key>spriteSize</key>
                <string>{370,395}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1210,1634},{370,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,11}</string>
                <key>spriteSize</key>
                <string>{366,405}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1153,827},{366,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-17}</string>
                <key>spriteSize</key>
                <string>{370,391}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{838,1655},{370,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-45}</string>
                <key>spriteSize</key>
                <string>{376,379}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1582,1604},{376,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-72}</string>
                <key>spriteSize</key>
                <string>{398,365}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1181,1234},{398,365}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BanCa-Gun-1-oPEN_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-100}</string>
                <key>spriteSize</key>
                <string>{404,351}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1473,414},{404,351}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BanCa-Gun-1-oPEN_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-71}</string>
                <key>spriteSize</key>
                <string>{368,419}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{317,438},{368,419}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-73}</string>
                <key>spriteSize</key>
                <string>{394,413}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{667,1},{394,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-73}</string>
                <key>spriteSize</key>
                <string>{392,413}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1,1338},{392,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-74}</string>
                <key>spriteSize</key>
                <string>{390,411}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1081,414},{390,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-74}</string>
                <key>spriteSize</key>
                <string>{392,411}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{687,416},{392,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-74}</string>
                <key>spriteSize</key>
                <string>{392,411}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1063,1},{392,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-74}</string>
                <key>spriteSize</key>
                <string>{392,411}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{395,1272},{392,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-73}</string>
                <key>spriteSize</key>
                <string>{390,411}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{1457,1},{390,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-73}</string>
                <key>spriteSize</key>
                <string>{390,411}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{789,1242},{390,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-73}</string>
                <key>spriteSize</key>
                <string>{392,411}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{759,829},{392,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-73}</string>
                <key>spriteSize</key>
                <string>{394,411}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{363,859},{394,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-73}</string>
                <key>spriteSize</key>
                <string>{394,411}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{363,859},{394,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-73}</string>
                <key>spriteSize</key>
                <string>{394,411}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{363,859},{394,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-73}</string>
                <key>spriteSize</key>
                <string>{394,411}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{363,859},{394,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-73}</string>
                <key>spriteSize</key>
                <string>{394,411}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{363,859},{394,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-73}</string>
                <key>spriteSize</key>
                <string>{394,411}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{363,859},{394,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-73}</string>
                <key>spriteSize</key>
                <string>{394,411}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{363,859},{394,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BanCa-Gun-1-oPEN_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-73}</string>
                <key>spriteSize</key>
                <string>{394,411}</string>
                <key>spriteSourceSize</key>
                <string>{784,609}</string>
                <key>textureRect</key>
                <string>{{363,859},{394,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>copperopen.png</string>
            <key>size</key>
            <string>{1959,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df3f2a975d4995f2b5002c3711216566:3fe56be076be40c28f9d294fde493ed6:2c5a4e9f89445bb35ecc6c958da72653$</string>
            <key>textureFileName</key>
            <string>copperopen.png</string>
        </dict>
    </dict>
</plist>
